* { 
    margin: 0; 
    padding:0 ; 
    box-sizing: border-box;
}
a { 
    text-decoration: none;
}
html { 
    scroll-behavior: smooth;
}
nav { 
    background: #27837B; 
    height: 60px; 
    line-height: 60px; 
      text-align: center; 
      position: sticky; 
      top:0; 
      left:0
    }
nav a { 
    color: white; 
    font-size: 1.2em; 
    font-weight: 600; 
    margin: auto 10px; 
}
nav a:hover { 
    color: yellow
}
#dich_vu { 
    background-color: #E8F3FD;  
    padding-top: 40px; 
}
#dich_vu > h2 { 
    color: #002D95; 
    text-align: center;  
    text-transform: uppercase; 
} 
#dich_vu #data { 
    display: flex; 
    flex-wrap: wrap; 
    justify-content: space-between; 
}
#dich_vu #data  > div { 
    width: 23%; 
    text-align: center; 
    font-size: 1.2em; 
    margin: 10px; }
#dich_vu #data  > div  h4 { 
    color: #002160; 
    text-transform: uppercase; } 
#dich_vu #data  > div  img { 
    width: 60%; 
    height: 120px; 
    margin: 10px; }
#dich_vu #data  > div  img:hover { 
    transform: scale(1.1); 
    cursor: pointer;}

#khach_hang { 
    background-color: #B8EDE0; 
    padding-top: 40px; }
#khach_hang > h2 { 
    color:#002D95; 
    text-align: center;  
    text-transform: uppercase; } 
#khach_hang #data { 
    display: flex;  
    flex-wrap: wrap; 
    justify-content: space-between;}
#khach_hang #data  > div { 
    width: 30%; 
    text-align: center; 
    font-size: 1.2em; 
    margin: 10px; }
#khach_hang #data  > div  h4{  
    color: #002160; 
    text-transform: uppercase; } 
#khach_hang #data  > div  img { 
    width: 90%; 
    height: 450px;
     margin: 10px; 
     border-radius: 30px; 
    }

#chi_nhanh { 
    background-color: #E8F3FD;  
    padding-top: 40px; 
}
#chi_nhanh > h2 { 
    color: #002D95; 
    text-align: center;  
    text-transform: uppercase; 
} 
#chi_nhanh #data { 
    display: flex; 
    flex-wrap: wrap; 
    justify-content: space-between;
}
#chi_nhanh #data  > div { 
    width: 22%; 
    text-align: center; 
    font-size: 1.2em; 
    margin: 20px 0;
}
#chi_nhanh #data  > div  h4 { 
    color: #002160; 
    text-transform: uppercase;
} 
#chi_nhanh #data  > div  img {
    width: 95%; 
    height: 360px; 
    margin: 10px; 
    border: 1px solid #002160; 
    border-radius: 20px;
}
#bang_gia { 
    background-color: #B8EDE0;  
    padding-top: 40px;
 }
#bang_gia > h2 { 
    color:#002D95; 
    text-align: center;  
    text-transform: uppercase;
} 
#bang_gia #data { 
    border:  1px solid #002160; 
    width: 80%; 
    margin:auto; 
}
#bang_gia #data  > div {
    font-size: 1.5em;   
    display: flex; 
    justify-content: space-between;
    border-bottom:  1px solid #002160; 
    padding: 15px; 
}
#bang_gia #data  > div  h4{  
    color: #002160; 
    text-transform: uppercase;
 } 
footer { 
    background: #27837B; 
    height: 60px; 
    text-align: center; 
    line-height: 60px;
    color: white; 
    font-size: 1.5em; 
 }
